body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: 'Dancing Script', cursive;
}

#drag-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

#spin-container {
  position: relative;
  width: 120px;
  height: 170px;
  margin: auto;
  transform-style: preserve-3d;
  animation: spin 20s linear infinite;
}

#spin-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 15px #fff;
}

#spin-container p {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

#musicBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  z-index: 999;
}